.login-card {
    background: #f3f3f3; /* Putih keabuan sedikit */
    width: 350px;
    padding: 60px 30px 30px 30px; /* Padding atas besar untuk ruang avatar */
    border-radius: 4px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
}

/* Lingkaran Avatar di Atas */
.avatar-circle {
    width: 90px;
    height: 90px;
    background-color: var(--teal);
    border-radius: 50%;
    position: absolute;
    top: -45px; /* Setengah keluar kotak */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--bg-gray); /* Border warna background agar rapi */
}

.avatar-circle img { width: 50px; filter: brightness(0) invert(1); }

h2 { color: #888; font-weight: normal; margin-bottom: 25px; font-size: 24px; }

.input-group { margin-bottom: 15px; text-align: left; }

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 2px;
    outline: none;
    font-size: 16px;
    color: #666;
}

.btn-signin {
    width: 100%;
    padding: 12px;
    background-color: var(--teal);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 10px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 13px;
    color: #888;
}

.signup-link {
    margin-top: 25px;
    font-size: 14px;
    color: white;
}

.signup-link a { color: white; text-decoration: underline; font-weight: bold; }
